<div class="login-container">
  <div class='title'>
    <h1 class="community">CommUnity<span class="hub">Hub</span><span class='dot'>.</span></h1>
  </div>
  
  <div class="content-wrapper">
  <h2 class="motto">Where Mentors <span>Inspire</span>, Creators <span>Innovate</span>, Learners <span>Thrive</span>, Investors <span> invest </span> and Entrepreneurs <span>Grow.</span></h2>
    
  <div class="google-signin-container">
  <%= form_tag '/auth/google_oauth2', method: :post, data: { turbo: false }, class: 'google-signin-form' do %>
    <%= button_tag type: 'submit', class: "btn btn-primary google-signin-btn", id: 'signIn' do %>
      <i class="fa-brands fa-google"></i>
      Continue with Google
    <% end %>
  <% end %>
</div>
    
  </div>
</div>
