

.login-container {
    width: 100%;
    height: 90vh;
    /* // background-color: blue; */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    padding-top: 30%;
    text-align: center;
  }
  
  .content-wrapper {
    flex-grow: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .dot {
    color: #ffffff;
    font-size: 4.0rem;
  }
  
  .hub {
    color: #4285F4;
  }
  
  .community {
    color: #ffffff;
  }
  
  .title h1 {
    margin: 0;
    font-size: 3.0rem;
  }
  
  .motto {
    color: #8E8E8E;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .motto span {
    color: #ffffff;
  }
  

  
  .google-signin-container {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
  }
  
  .google-signin-form {
    width: 50%;
  }
  
  .google-signin-btn {
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #333333;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
  }
  
  .google-signin-btn i {
    margin-right: 10px;
  }