// _variables.scss

// _variables.scss

// Colors
$primary-background-color: #1E1E1E;
$primary-color: #ffffff;
$secondary-color: #8E8E8E;
$primary-border: #333333;

// Fonts
$primary-font: 'sans-serif';

// Additional colors
$hub-blue-color: #4285F4;
